@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Comfortaa:wght@300;400;500;600;700&display=swap');


.centred-container{
  display: flex;
  justify-content: center;
}

.navlistPicture{
  width: 160px;
}

#navlist{
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 500px;
}

.navlistItem{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navlistTextset{
  display: flex;
  justify-content: right;
  flex-direction: column;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(130, 176, 255);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
}

.navigation-item {
  float: right;
}

.navigation-item a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  padding-top: 40px;
  height: 100%;
}

.navigation-item a:hover {
  font-weight: 1000;
}

.nav-logo {
  float: left;
  display: block;
}

#logo {
  width: 100px;
  padding-left: 10px;
}

.head1 {
  font-family: 'Caveat', cursive;
  margin: 0px;
  color:  rgba(32, 45, 68, 0.877);;
  padding-left: 10px;
  padding-top: 20px
}

.head2 {
  font-family: 'Comfortaa', cursive;
  margin: 0px;
  font-size: 16px;
  padding-left: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div  {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 0;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;

}

#contact-body{
  align-items: center;
  justify-content: center;
}

button {
  background-color: #82afff; 
  border-color: #82afff;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  font-family: 'Caveat', cursive;
  border-radius: 12px;
  cursor: pointer;  
  width: 30%;
  margin: 20px 35% 50px 35%;
}

#contact-h1 {
  font-family: 'Caveat', cursive;
  margin: 0px;
  color:  #202c43;
  padding-top: 100px;
  text-align: center;}

#contact-h2 {
  font-family: 'Caveat', cursive;
  color: #82afff;
  margin: 0px;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;}

.contact-main {
  align-items: center;
  justify-content: center;
}

footer{
  font-size: xx-small;
  font-family: 'Comfortaa', cursive;
}